<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swust.indigo.mce.mapper.CheckProblemMapper">

    <resultMap type="cn.swust.indigo.mce.entity.po.CheckProblem" id="CheckProblemMap">
        <result property="checkProblemId" column="check_problem_id" jdbcType="INTEGER"/>
        <result property="checkCommitId" column="check_commit_id" jdbcType="INTEGER"/>
        <result property="problemType" column="problem_type" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="creatorId" column="creator_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="fileIds" column="file_ids" jdbcType="VARCHAR"/>
        <result property="repairerName" column="repairer_name" jdbcType="INTEGER"/>
        <result property="repairedTime" column="repaired_time" jdbcType="TIMESTAMP"/>
        <result property="repairerTime" column="repairer_time" jdbcType="TIMESTAMP"/>
        <result property="address" column="address"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getCheckProblemPage" resultType="cn.swust.indigo.mce.entity.po.CheckProblem">
        SELECT
            cp.check_problem_id,
            cp.check_commit_id,
            cp.problem_type,
            cp.name,
            cp.description,
            cp.creator_id,
            cp.create_time,
            cp.file_ids,
            cp.repairer_name,
            cp.repaired_time,
            cp.repairer_time,
            cp.address,
            cp.commit_device,
            cc.check_report_id as checkReportId
        FROM check_problem cp
        LEFT JOIN check_commit cc on cp.check_commit_id = cc.check_commit_id

        <where>
            <if test="name != null and name != ''">
                and cp.name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="address != null and address != ''">
                and cp.address LIKE CONCAT('%',#{address},'%')
            </if>
            <if test="type != null and type != ''">
                and cp.problem_type = #{type}
            </if>
        </where>
    </select>

    <select id="allInfo" resultType="cn.swust.indigo.mce.entity.po.CheckProblem">
        select
            cp.check_problem_id       ,
            cp.check_commit_id        ,
            cp.problem_type           ,
            cp.`name`                 ,
            cp.`description`          ,
            cp.creator_id             ,
            cp.create_time            ,
            cp.file_ids               ,
            cp.repairer_name          ,
            cp.repaired_time          ,
            cp.repairer_id            ,
            cp.repairer_time          ,
            cp.address                ,
            cp.commit_device          ,
            cp.department_id          ,
            cp.main_department_id     ,
            cp.guidance_department_id ,
            su.nickname as creatorName
        from
            check_problem cp
        left join sys_user su on cp.creator_id = su.user_id
        where cp.check_problem_id = #{id}
    </select>

    <!--新增所有列-->
<!--    <insert id="insert" keyProperty="checkProblemId" useGeneratedKeys="true">-->
<!--        insert into check_problem(check_commit_id, problem_type, description, creator_id, create_time, file_ids, repairer_name, repaired_time, repairer_time, address)-->
<!--        values (#{checkCommitId}, #{problemType}, #{description}, #{creatorId}, #{createTime}, #{fileIds}, #{repairerName}, #{repairedTime}, #{repairerTime}, #{address})-->
<!--    </insert>-->

    <!--通过主键修改数据-->
    <update id="update">
        update check_problem
        <set>
            <if test="checkCommitId != null">
                check_commit_id = #{checkCommitId},
            </if>
            <if test="problemType != null">
                problem_type = #{problemType},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="fileIds != null and fileIds != ''">
                file_ids = #{fileIds},
            </if>
            <if test="repairerName != null">
                repairer_name = #{repairerName},
            </if>
            <if test="repairedTime != null">
                repaired_time = #{repairedTime},
            </if>

            <if test="repairerTime != null">
                repairer_time = #{repairerTime},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
        </set>
        where check_problem_id = #{checkProblemId}
    </update>
    <update id="updateByList">
        <foreach collection="checkProblems" separator=";" item="checkProblem">
            update check_problem
            <set>
                <if test="checkProblem.repairerName!=null">
                repairer_name=#{checkProblem.repairerName},
                </if>
                <if test="checkProblem.repairedTime!=null">
                repaired_time = #{checkProblem.repairedTime},
                </if>
                <if test="checkProblem.repairerTime!=null">
                    repairer_time = #{checkProblem.repairerTime},
                </if>
                <if test="checkProblem.repairerTime!=null">
                    address = #{checkProblem.address},
                </if>
                <if test="checkProblem.commitDevice!=null">
                    commit_device = #{checkProblem.commitDevice},
                </if>
        </set>
            where check_problem_id =#{checkProblem.checkProblemId}
        </foreach>

    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from check_problem where check_problem_id = #{checkProblemId}
    </delete>

</mapper>

